@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 180 100% 25.1%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 45 65.5% 52.4%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 180 100% 25.1%;

    --chart-1: 180 100% 25.1%;
    --chart-2: 45 65.5% 52.4%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 180 100% 35%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 180 100% 35%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;

    --card: 224 71.4% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;

    --primary: 180 100% 35%;
    --primary-foreground: 0 0% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 45 65.5% 52.4%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 180 100% 35%;

    --chart-1: 180 100% 35%;
    --chart-2: 45 65.5% 52.4%;

    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 180 100% 35%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 180 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
